* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
    font-weight: 300;
}


/* body{
    background-image: url(../image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
} */